:root {
    --red: #B80C09;
    --richblack: #040F16;
    --indigodye: #0B4F6C;
    --mainbackground: #0685AE;
    --white: #FBFBFF;
    --font14: 14px;
    --font16: 16px;
    --font20: 20px;
    --font24: 24px;
    --font32: 32px;
    --font36: 36px;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--mainbackground);
    overflow-x: hidden;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

nav > menu {
    padding: 0;
}

nav > menu > li {
    font-size: var(--font16);
    margin: 15px 0;
}

nav > menu > li > a {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

nav > menu > li > a > img {
    color: var(--white);
}

.navlineheader {
    width: 100vw;
    height: 2px;
    background-color: #06779B;
}

header {
    margin: 15px 24px;
    overflow: hidden;
}

header > .header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .header__flex > .hamburgermenu {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

header > .header__flex > .hamburgermenu > .hamburgermenu__line{
    width: 55px;
    height: 10px;
    background-color: var(--white);
    transition: .5s;
}

header > .header__flex > .hamburgermenu > .active1 {
    transform-origin: center;
    transform: translateY(17px) rotate(45deg);
}

header > .header__flex > .hamburgermenu > .active2 {
    transform: translateX(60px);
    transition: 1s;
}

header > .header__flex > .hamburgermenu > .active3 {
    transform-origin: center;
    transform: translateY(-17px) rotate(-45deg);
}

header > .nav__hamburger {
    position: absolute;
    width: 300px;
    right: 0;
    display: none;
    background-color: var(--white);
    border: 1px solid var(--richblack);
    border-right: 0;
}

header > .nav__hamburger > menu {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header > .nav__hamburger > menu > li {
    text-align: center;
    margin: 0;
}

header > .nav__hamburger > menu > li:nth-child(2) {
    border-top: 1px solid var(--richblack);
    border-bottom: 1px solid var(--richblack);
}

header > .nav__hamburger > menu > li > a {
    color: var(--richblack);
    font-size: var(--font16);
    padding: 20px 0;
}

header > .showMenu {
    display: block;
}

h1 {
    margin: 20px 24px;
    font-size: var(--font24);
    text-align: center;
    color: var(--white);
    font-weight: normal;
}

h2 {
    font-size: var(--font20);
    color: var(--white);
    text-align: center;
    font-weight: normal;
}

.nav_services > menu > a {
    width: 201px;
    height: 200px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px auto;
    padding: 20px 10px;
}

.nav_services > menu > a:nth-child(3) {
    padding-top: 0;
}

.nav_services > menu > a > p {
    margin: 0;
    color: var(--indigodye);
    font-size: var(--font14);
    text-align: center;
    font-weight: bolder;
}

.nav_services > menu > a > img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

article {
    background-color: var(--white);
    color: var(--mainbackground);
    padding: 15px 24px;
}

article > h3 {
    text-align: center;
    font-size: var(--font20);
}

article > ul {
    padding: 0;
}

article > ul > li {
    padding: 5px 0;
    font-size: var(--font16);
}

.article__zapory {
    background-color: var(--mainbackground);
}

.article__zapory > h3 {
    color: var(--white);
}

.article__zapory > ul > li {
    color: var(--white);
}

.article__vyuziti {
    background-color: var(--mainbackground);
    padding: 0;
    margin: 15px 24px;
}

.article__vyuziti > h3 {
    color: var(--white);
    margin: 25px;
    margin-top: 0;
}

.article__vyuziti--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 400px;
    margin: 0 auto;
}

.article__vyuziti--grid > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    padding-top: 15px;
}

.article__vyuziti--grid > div:nth-child(4) {
    padding-top: 40px;
}

.article__vyuziti--grid > div > p {
    text-align: center;
    font-size: var(--font20);
    font-weight: bolder;
}

.article__vyuziti--grid > div > img {
    width: 60%;
    margin: 0 auto;
}

.button__kontakt {
    margin: 30px 24px 40px 24px;
    padding: 15px;
    display: block;
    background-color: var(--red);
    color: var(--white);
    font-size: var(--font24);
    text-align: center;
    width: fit-content;
}

footer {
    background-color: var(--richblack);
    padding: 20px 24px 40px 24px;
}

footer > img {
    margin: 0 auto;
    display: block;
}

footer > nav {
    margin-top: 20px;
}

footer > nav > menu {
    margin: 0;
}

footer > nav > menu > li > a {
    color: var(--white);
    font-size: var(--font20);
}

footer > nav > menu > .footer__nav--line {
    height: 15px;
}

@media screen and (min-width: 420px) {
    nav:nth-child(1) > menu {
        display: flex;
        margin: 0 24px;
        justify-content: space-between;
    }

    .button__kontakt {
        margin: 30px auto 40px auto;
    }
}

@media screen and (min-width: 1000px) {
    .article__vyuziti--grid {
        grid-template-columns: repeat(4, 1fr);
        max-width: fit-content;
    }
    .article__vyuziti--grid > div {
        padding: 30px 50px 0 50px;
    }

    .article__vyuziti--grid > div > img {
        width: 100%;
    }
}