:root {
    --red: #B80C09;
    --richblack: #040F16;
    --indigodye: #0B4F6C;
    --mainbackground: #0685AE;
    --white: #FBFBFF;
    --hoverwhite: #E2E2EC;
    --font14: 14px;
    --font16: 16px;
    --font20: 20px;
    --font24: 24px;
    --font32: 32px;
    --font36: 36px;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--mainbackground);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/*                         homepage                                                     */


body > nav > menu {
    padding: 0;
}

body > nav > menu > li {
    font-size: var(--font16);
    margin: 15px 0;
}

body > nav > menu > li > a {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.navlineheader {
    width: 100vw;
    height: 2px;
    background-color: #06779B;
}

header {
    margin: 15px 24px;
    overflow: hidden;
}

header > .header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .header__flex > a > img {
    display: block;
}

header > .header__flex > .hamburgermenu {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

header > .header__flex > .hamburgermenu > .hamburgermenu__line{
    width: 55px;
    height: 10px;
    background-color: var(--white);
    transition: .5s;
}

header > .header__flex > .hamburgermenu > .active1 {
    transform-origin: center;
    transform: translateY(17px) rotate(45deg);
}

header > .header__flex > .hamburgermenu > .active2 {
    transform: translateX(60px);
    transition: 1s;
}

header > .header__flex > .hamburgermenu > .active3 {
    transform-origin: center;
    transform: translateY(-17px) rotate(-45deg);
}

header > .nav__hamburger {
    position: absolute;
    width: 300px;
    right: 0;
    display: none;
    background-color: var(--white);
    border: 1px solid var(--richblack);
    border-right: 0;
}

header > .nav__hamburger > menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header > .nav__hamburger > menu > li {
    text-align: center;
    display: flex;
    justify-content: center;
}

header > .nav__hamburger > menu > li:nth-child(2) {
    border-top: 1px solid var(--richblack);
    border-bottom: 1px solid var(--richblack);
}

header > .nav__hamburger > menu > li > a {
    color: var(--richblack);
    font-size: var(--font16);
    padding: 15px 0;
    width: -webkit-fill-available;
}

header > .showMenu {
    display: block;
}

h1 {
    margin: 20px 24px;
    font-size: var(--font24);
    text-align: center;
    color: var(--white);
    font-weight: normal;
}

h2 {
    font-size: var(--font20);
    color: var(--white);
    text-align: center;
    font-weight: normal;
}

.nav_services > menu {
    padding: 0;
}

.nav_services > menu > li {
    width: 201px;
    background-color: var(--white);
    margin: 30px auto;
}

.nav_services > menu > li > a {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.nav_services > menu > li > a:nth-child(3) {
    padding-top: 0;
}

.nav_services > menu > li > a > p {
    margin: 0;
    color: var(--indigodye);
    font-size: var(--font14);
    text-align: center;
    font-weight: bolder;
}

.nav_services > menu > li > a > img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

article {
    background-color: var(--white);
    color: var(--mainbackground);
    padding: 15px 24px;
}

article > h3 {
    text-align: center;
    font-size: var(--font20);
}

article > ul {
    padding: 0;
}

article > ul > li {
    padding: 5px 0;
    font-size: var(--font16);
}

.article__zapory {
    background-color: var(--mainbackground);
}

.article__zapory > h3 {
    color: var(--white);
}

.article__zapory > ul > li {
    color: var(--white);
}

.article__vyuziti {
    background-color: var(--mainbackground);
    padding: 0;
    margin: 15px 24px;
}

.article__vyuziti > h3 {
    color: var(--white);
    margin: 25px;
    margin-top: 0;
}

.article__vyuziti--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 400px;
    margin: 0 auto;
}

.article__vyuziti--grid > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    padding-top: 15px;
}

.article__vyuziti--grid > div:nth-child(4) {
    padding-top: 40px;
}

.article__vyuziti--grid > div > p {
    text-align: center;
    font-size: var(--font20);
    font-weight: bolder;
}

.article__vyuziti--grid > div > img {
    width: 60%;
    margin: 0 auto;
}

.button__kontakt {
    margin: 30px 24px 40px 24px;
    padding: 15px;
    display: block;
    background-color: var(--red);
    color: var(--white);
    font-size: var(--font24);
    text-align: center;
    width: fit-content;
}

footer {
    background-color: var(--richblack);
    padding: 20px 24px 40px 24px;
}

footer > img {
    margin: 0 auto;
    display: block;
}

footer > nav {
    margin-top: 20px;
}

footer > nav > menu {
    margin: 0;
    padding: 0;
}

footer > nav > menu > li {
    text-align: center;
    margin: 10px 0;
}

footer > nav > menu > li > a {
    color: var(--white);
    font-size: var(--font20);
    display: flex;
    gap: 10px;
    justify-content: center;
}

footer > nav > menu > .footer__nav--line {
    height: 15px;
}

@media screen and (min-width: 420px) {
    nav:nth-child(1) > menu {
        display: flex;
        margin: 0 24px;
        justify-content: space-between;
    }

    .button__kontakt {
        margin: 30px auto 40px auto;
    }
}

@media screen and (min-width: 1000px) {
    .article__vyuziti--grid {
        grid-template-columns: repeat(4, 1fr);
        max-width: fit-content;
    }
    .article__vyuziti--grid > div {
        padding: 30px 50px 0 50px;
    }

    .article__vyuziti--grid > div > img {
        width: 100%;
    }
}


/*                           konfigurace                                 */


.body__reversed {
    background-color: var(--white);
}

.body__reversed > .navlineheader {
    background-color: var(--hoverwhite);
}

.body__reversed > nav > menu > li > .headernav__reversed--kontakt {
    color: var(--mainbackground);
}

.body__reversed > header > .header__flex > .hamburgermenu > .reversed__hamburgermenu--line {
    background-color: var(--mainbackground);
}

.body__reversed > main > h1 {
    color: var(--mainbackground);
}

.body__reversed > main > h2 {
    color: var(--mainbackground);
    margin: 20px 24px;
}

main > .offers {
    padding: 0;
}

main > .offers > .offer {
    margin-bottom: 20px;
}

main > .offers > .offer > .offer__header {
    display: flex;
    background-color: var(--mainbackground);
    justify-content: space-between;
    padding: 0 24px;
}

main > .offers > .offer > .offer__header p {
    color: var(--white);
    font-size: var(--font20);
    font-weight: bolder;
    margin: 15px 0;
}

main > .offers > .offer > .offer__header > .offer__header--priceandarrow {
    display: flex;
    gap: 30px;
}

main > .offers > .offer > .offer__structure {
    display: none;
    padding: 0 24px;
    border-bottom: 10px solid var(--mainbackground);
}

main > .offers > .offer > .showMenu {
    display: block;
}

main > .offers > .offer > .offer__structure > div {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

main > .offers > .offer > .offer__structure > div > p:nth-child(2){
    text-align: right;
}

main > p {
    color: var(--mainbackground);
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}

.texthightlight {
    color: var(--red);
    font-weight: bolder;
}

main > .OS {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-bottom: 0;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

main > .OS > .OS__example {
    display: flex;
    flex-direction: column;
}

main > .OS > .OS__example > img {
    margin: 0 auto;
}

main > .OS > .OS__example > p {
    text-align: center;
    color: var(--richblack);
    margin-bottom: 0;
}


/*                                Náhradní díly                                */


main > .dily__skupina {
    background-color: var(--mainbackground);
    padding-top: 0;
}

main > .dily__skupina > .dily__skupina--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item {
    background-color: var(--white);
    height: min-content;
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item > .dily__skupina--grid--item--header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 245px;
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item > .dily__skupina--grid--item--header > .dily__skupina--grid--item--header--img {
    background-image: url(../Images/Náhradní_díly/Proc-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 15px;
    height: 150px;
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item:nth-child(2) > .dily__skupina--grid--item--header > .dily__skupina--grid--item--header--img {
    background-image: url(../Images/Náhradní_díly/Proc-2.png);
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item:nth-child(3) > .dily__skupina--grid--item--header > .dily__skupina--grid--item--header--img {
    background-image: url(../Images/Náhradní_díly/Proc-3.png);
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item:nth-child(4) > .dily__skupina--grid--item--header > .dily__skupina--grid--item--header--img {
    background-image: url(../Images/Náhradní_díly/Proc-4.png);
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item:nth-child(5) > .dily__skupina--grid--item--header > .dily__skupina--grid--item--header--img {
    background-image: url(../Images/Náhradní_díly/Proc-5.png);
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item:nth-child(6) > .dily__skupina--grid--item--header > .dily__skupina--grid--item--header--img {
    background-image: url(../Images/Náhradní_díly/Proc-6.png);
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item:nth-child(7) > .dily__skupina--grid--item--header > .dily__skupina--grid--item--header--img {
    background-image: url(../Images/Náhradní_díly/Proc-7.png);
}

main > .dily__skupina:nth-child(3) > .dily__skupina--grid > .dily__skupina--grid--item > .dily__skupina--grid--item--header > .dily__skupina--grid--item--header--img {
    background-image: url(../Images/Náhradní_díly/Chladič.png);
}

main > .dily__skupina:nth-child(4) > .dily__skupina--grid > .dily__skupina--grid--item > .dily__skupina--grid--item--header > .dily__skupina--grid--item--header--img {
    background-image: url(../Images/Náhradní_díly/Základní_deska.png);
}

main > .dily__skupina:nth-child(5) > .dily__skupina--grid > .dily__skupina--grid--item > .dily__skupina--grid--item--header > .dily__skupina--grid--item--header--img {
    background-image: url(../Images/Náhradní_díly/RAM.png);
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item > .showMenu {
    display: block !important;
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item > .dily__skupina--grid--item--header > .dily__skupina--grid--item--název {
    text-align: center;
    font-size: var(--font14);
    font-weight: bold;
    color: var(--richblack);
    margin: 10px;
    margin-top: 0;
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item > .dily__skupina--grid--item--header > .dily__skupina--grid--item--priceandarrow {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 10px 10px 10px;
    color: var(--richblack);
    font-size: var(--font16);
    font-weight: bolder;
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item > .dily__skupina--grid--item--header > .dily__skupina--grid--item--priceandarrow > p {
    margin: 0;
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item > .dily__skupina--grid--item--description {
    display: none;
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item > .dily__skupina--grid--item--description > p {
    margin: 8px;
    color: var(--richblack);
    font-size: var(--font14);
}

main > .dily__skupina > .dily__skupina--grid > .dily__skupina--grid--item > .dily__skupina--grid--item--description > .vpravo {
    text-align: right;
}



/*                        Kontakt                     */


.body__reversed > main > h3 {
    color: var(--mainbackground);
    margin: 20px 24px;
    text-align: center;
    font-weight: normal;
    font-size: var(--font16);
}

main > .grid__kontakt {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 24px 30px 24px;
    align-items: center;
}

main > .grid__kontakt > .grid__kontakt--item {
    background-color: var(--mainbackground);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

main > .grid__kontakt > .grid__kontakt--item > p {
    font-size: var(--font16);
    color: var(--white);
    text-align: center;
    margin: 5px;
}

main > .grid__kontakt > .grid__kontakt--item > .grid__kontakt--item--img {
    height: 100px;
    width: 100px;
    background-image: url(../Images/Icons/Instagram-Negative.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10px;
}

main > .grid__kontakt > .grid__kontakt--item:nth-child(2) > .grid__kontakt--item--img {
    background-image: url(../Images/Icons/Phone_white.svg);
}

main > .grid__kontakt > .grid__kontakt--item:nth-child(3) > .grid__kontakt--item--img {
    background-image: url(../Images/Icons/Message__kontakt.svg);
}

main > .grid__kontakt > .grid__kontakt--item:nth-child(4) > .grid__kontakt--item--img {
    background-image: url(../Images/Icons/Telegram__white.svg);
}

main > .blacktext {
    color: var(--richblack) !important;
    font-size: var(--font14);
}

main > .blacktext__big {
    font-size: var(--font16) !important;
}

main > .sendmessage {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 300px));
    grid-gap: 30px;
    margin: 0 24px;
    width: fit-content;
}

main > .sendmessage p {
    text-align: center;
}

main > .sendmessage textarea {
    height: 27px;
    border: 2px solid var(--richblack);
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
}

main > .sendmessage .sendmessage__rectangle > p {
    color: var(--hoverwhite);
    margin: 0;
    font-size: var(--font16);
    height: min-content;
    align-self: center;
}

main > .sendmessage > .sendmessage__email {
    grid-column: span 2;
}

main > .sendmessage > .sendmessage__email > textarea {
    height: 200px;
    width: -webkit-fill-available;
}

main > iframe {
    margin: -10px 24px 20px 24px;
    width: -webkit-fill-available;
}

.button__kontakt1 {
    margin: 30px auto 40px auto;
    padding: 15px;
    display: block;
    background-color: var(--red);
    color: var(--white);
    font-size: var(--font24);
    text-align: center;
    width: fit-content;
}